
* {
    box-sizing: border-box;
    outline: none;
}

html{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: var(--base-font);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body,p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-family:var(--base-font-title);
}

button, .btn{
    cursor: pointer;
    font-family: var(--base-font);
}

img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.App{
    background: linear-gradient(to right ,rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.5),rgba(173,216,230, 0.2),rgba(173,216,230, 0.2),rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 1)),url('../assets/imgs/food-hero-alt2-edit.jpg');
    height: 100vh;
    width: 100vw;
    @include img-default; 
    background-position: 50% 35%;

    height: 100%; 
    background-attachment: fixed;
}


.add-btn{
    max-height: 45px;
    min-height: 45px;

    font-size: 1.5rem;
    background-color: var(--color-secondary);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s  linear;
    border-radius: 0px 20px 20px 0px;
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    //@include elemnt-base-padding;

    // &:hover{
    //     opacity:0.8;
    // }
}

.search-input{
    @include search-input;
    
}

.list-dot{
    width: var(--dot-list-size);
    height:var(--dot-list-size);
    max-width: var(--dot-list-size);
    max-height: var(--dot-list-size);
    border-radius: 200px;
}

.rating-star{
    color: var(--color-primary);
    margin-right: 5px;
}

.ing-txt{

}

@media (max-width:950px) {
    .App{
        background: linear-gradient(to right ,rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.8),rgba(173,216,230, 0.6),rgba(173,216,230, 0.6),rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 1)),url('../assets/imgs/food-hero-alt2-edit.jpg');
        @include img-default; 
        background-position: 50% 35%;
    }
}

@media (max-width:850px) {
    .add-btn{
        min-width: 55px;
        max-width: 55px;
    }
}

@media (max-width:650px) {
    .add-btn{
        border-radius: 0px;
    }
}