@mixin img-default{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin clean-list { 
    margin: 0;
    padding: 0;
    list-style-type: none;
}

//aspect ratio mixin
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: ($height / $width) * 100%;
    }
    > *:not(.img-content-wrapper) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }  
    > img, .hero {
      height: 100%;
      object-fit: cover;
    }

}

@mixin gradientAnimation( $start, $end, $transTime, $borderRadius ){
  background-size: 100%;
  background-image: linear-gradient($start, $end);
  position: relative;
  z-index: 100;
  &:before {
      background-image: linear-gradient($end, $start);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0; left: 0;
      opacity: 0;
      width: 100%;
      z-index: -100;
      transition: opacity $transTime;
      border-radius: $borderRadius;
  }
  &:hover {
      &:before {
          opacity: 1;
      }
  }
}

@mixin elemnt-base-padding {
  padding: 8px 15px;
}

@mixin search-input {
  max-height: 45px;
  min-height: 45px;

  font-size: 1rem;
  border: none;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 4px solid var(--color-secondary);
  flex: 1;
  width: 50%;
  @include elemnt-base-padding;
}



/* Flex Mixins */

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
