
/* Baloo */
@font-face {
    font-family:baloo-reg;
    src: url('../assets/fonts/Baloo_Paaji_2/BalooPaaji2-Regular.ttf');
}

@font-face {
    font-family:baloo-med;
    src: url('../assets/fonts/Baloo_Paaji_2/BalooPaaji2-Medium.ttf');
}

@font-face {
    font-family:baloo-bold;
    src: url('../assets/fonts/Baloo_Paaji_2/BalooPaaji2-Bold.ttf');
}

/* Open Sans */
@font-face {
    font-family:open-sans-reg;
    src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family:open-sans-med;
    src: url('../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf');
}

/* Source Sans */
@font-face {
    font-family:src-sans-reg;
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family:src-sans-med;
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}



